<a href="https://colab.research.google.com/github/pndang/USP_138_Project/blob/main/USP_138_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

import warnings
warnings.filterwarnings('ignore')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [44]:
df = pd.read_csv("/content/drive/MyDrive/USP_138/SF_Industries.csv", \
                 usecols=['2017 NAICS code (NAICS2017)',
                          'Meaning of NAICS code (NAICS2017_LABEL)',
                          'Meaning of Employment size of establishments code (EMPSZES_LABEL)',
                          'Number of employees (EMP)'])
df.head()

,2017 NAICS code (NAICS2017),Meaning of NAICS code (NAICS2017_LABEL),Meaning of Employment size of establishments code (EMPSZES_LABEL),Number of employees (EMP)
0,00,Total for all sectors,All establishments,"720,508"
1,00,Total for all sectors,Establishments with less than 5 employees,N
2,00,Total for all sectors,Establishments with 5 to 9 employees,N
3,00,Total for all sectors,Establishments with 10 to 19 employees,N
4,00,Total for all sectors,Establishments with 20 to 49 employees,N

In [45]:
df.rename(columns={'2017 NAICS code (NAICS2017)': 'NAICS Code',
                   'Meaning of NAICS code (NAICS2017_LABEL)': 'Industry',
                   'Number of employees (EMP)': 'Number of Employees'}, inplace=True)

In [46]:
df = df[df['Meaning of Employment size of establishments code (EMPSZES_LABEL)'] == 'All establishments']
df.drop(columns=[x for x in df.columns if 'Meaning' in x], inplace=True)

In [47]:
df['Number of Employees'] = df['Number of Employees'].str.replace(',','').astype(int)

In [49]:
total = df['Number of Employees'][0]
df['Percent'] = (df['Number of Employees'] / total)*100

In [51]:
df['Percent'] = np.round(df['Percent'], 2)

In [54]:
df.set_index('NAICS Code', inplace=True)

In [55]:
df

,Industry,Number of Employees,Percent
NAICS Code,,,
00,Total for all sectors,720508,100.00
11,"Agriculture, forestry, fishing and hunting",36,0.00
21,"Mining, quarrying, and oil and gas extraction",11,0.00
22,Utilities,4123,0.57
23,Construction,24359,3.38
31-33,Manufacturing,7735,1.07
42,Wholesale trade,16330,2.27
44-45,Retail trade,49806,6.91
48-49,Transportation and warehousing,11570,1.61
51,Information,87285,12.11
52,Finance and insurance,64272,8.92
53,Real estate and rental and leasing,19119,2.65
54,"Professional, scientific, and technical services",134173,18.62
55,Management of companies and enterprises,28879,4.01
56,Administrative and support and waste managemen...,41224,5.72
61,Educational services,25031,3.47
62,Health care and social assistance,74186,10.30
71,"Arts, entertainment, and recreation",17352,2.41
72,Accommodation and food services,86099,11.95
81,Other services (except public administration),28762,3.99
99,Industries not classified,156,0.02

In [116]:
def adjust_format_noe(row):
  noe = str(row['Number of Employees'])
  noe = noe[::-1]
  output = ''

  for i in range(0, len(noe), 3):
    output = output+','+noe[i:i+3]

  return output[::-1].strip(',')

df['Number of Employees'] = df.apply(adjust_format_noe, axis=1)

In [117]:
df

,Industry,Number of Employees,Percent
NAICS Code,,,
00,Total for all sectors,"720,508",100.00
11,"Agriculture, forestry, fishing and hunting",36,0.00
21,"Mining, quarrying, and oil and gas extraction",11,0.00
22,Utilities,"4,123",0.57
23,Construction,"24,359",3.38
31-33,Manufacturing,"7,735",1.07
42,Wholesale trade,"16,330",2.27
44-45,Retail trade,"49,806",6.91
48-49,Transportation and warehousing,"11,570",1.61
51,Information,"87,285",12.11
52,Finance and insurance,"64,272",8.92
53,Real estate and rental and leasing,"19,119",2.65
54,"Professional, scientific, and technical services","134,173",18.62
55,Management of companies and enterprises,"28,879",4.01
56,Administrative and support and waste managemen...,"41,224",5.72
61,Educational services,"25,031",3.47
62,Health care and social assistance,"74,186",10.30
71,"Arts, entertainment, and recreation","17,352",2.41
72,Accommodation and food services,"86,099",11.95
81,Other services (except public administration),"28,762",3.99
99,Industries not classified,156,0.02

In [121]:
df['Percent'] = df['Percent'].astype(str)+'%'

In [122]:
df

,Industry,Number of Employees,Percent
NAICS Code,,,
00,Total for all sectors,"720,508",100.0%
11,"Agriculture, forestry, fishing and hunting",36,0.0%
21,"Mining, quarrying, and oil and gas extraction",11,0.0%
22,Utilities,"4,123",0.57%
23,Construction,"24,359",3.38%
31-33,Manufacturing,"7,735",1.07%
42,Wholesale trade,"16,330",2.27%
44-45,Retail trade,"49,806",6.91%
48-49,Transportation and warehousing,"11,570",1.61%
51,Information,"87,285",12.11%
52,Finance and insurance,"64,272",8.92%
53,Real estate and rental and leasing,"19,119",2.65%
54,"Professional, scientific, and technical services","134,173",18.62%
55,Management of companies and enterprises,"28,879",4.01%
56,Administrative and support and waste managemen...,"41,224",5.72%
61,Educational services,"25,031",3.47%
62,Health care and social assistance,"74,186",10.3%
71,"Arts, entertainment, and recreation","17,352",2.41%
72,Accommodation and food services,"86,099",11.95%
81,Other services (except public administration),"28,762",3.99%
99,Industries not classified,156,0.02%