<a href="https://colab.research.google.com/github/pndang/USP_138_Project/blob/main/USP_138_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from google.colab import drive
drive.mount('/content/drive')

import warnings
warnings.filterwarnings('ignore')

Mounted at /content/drive

In [113]:
columns = ['2017 NAICS code (NAICS2017)',
           'Meaning of NAICS code (NAICS2017_LABEL)',
           'Meaning of Employment size of establishments code (EMPSZES_LABEL)',
           'Number of employees (EMP)']

df = pd.read_csv("/content/drive/MyDrive/USP_138/SF_Industries.csv", \
                 usecols=columns)

df_3d = pd.read_csv("/content/drive/MyDrive/USP_138/SF_manufacturing_3digitsNAICS.csv", \
                    usecols=columns)

df.head()

,2017 NAICS code (NAICS2017),Meaning of NAICS code (NAICS2017_LABEL),Meaning of Employment size of establishments code (EMPSZES_LABEL),Number of employees (EMP)
0,00,Total for all sectors,All establishments,"720,508"
1,00,Total for all sectors,Establishments with less than 5 employees,N
2,00,Total for all sectors,Establishments with 5 to 9 employees,N
3,00,Total for all sectors,Establishments with 10 to 19 employees,N
4,00,Total for all sectors,Establishments with 20 to 49 employees,N

In [114]:
df_3d.head()

,2017 NAICS code (NAICS2017),Meaning of NAICS code (NAICS2017_LABEL),Meaning of Employment size of establishments code (EMPSZES_LABEL),Number of employees (EMP)
0,311,Food manufacturing,All establishments,"2,052"
1,311,Food manufacturing,Establishments with less than 5 employees,N
2,311,Food manufacturing,Establishments with 5 to 9 employees,N
3,311,Food manufacturing,Establishments with 10 to 19 employees,N
4,311,Food manufacturing,Establishments with 20 to 49 employees,N

In [115]:
rename_dict = {'2017 NAICS code (NAICS2017)': 'NAICS Code',
                   'Meaning of NAICS code (NAICS2017_LABEL)': 'Industry',
                   'Number of employees (EMP)': 'Number of Employees'}

df.rename(columns=rename_dict, inplace=True)
df_3d.rename(columns=rename_dict, inplace=True)

In [116]:
# df_3d is structured slight different from df, and the total across all industries must be manually calculated

test = df_3d[df_3d['Meaning of Employment size of establishments code (EMPSZES_LABEL)'] == 'All establishments']
test['Number of Employees'] = test['Number of Employees'].str.replace(',', '').astype(float)
test['Number of Employees'].sum()

7723.0

In [117]:
dummy_df = pd.DataFrame(data={'NAICS Code': ['___'], 'Industry': ['Total'], \
                              'Meaning of Employment size of establishments code (EMPSZES_LABEL)': ['All establishments'],
                              'Number of Employees': ['7,723']})

df_3d = pd.concat([dummy_df, df_3d], ignore_index=True)

In [119]:
def adjust_format_noe(row):
  noe = str(row['Number of Employees'])
  noe = noe[::-1]
  output = ''

  for i in range(0, len(noe), 3):
    output = output+','+noe[i:i+3]

  return output[::-1].strip(',')

In [120]:
# Pipeline to with steps to clean data

def clean_pl(data):
  data = data[data['Meaning of Employment size of establishments code (EMPSZES_LABEL)'] == 'All establishments']
  data.drop(columns=[x for x in data.columns if 'Meaning' in x], inplace=True)

  data['Number of Employees'] = data['Number of Employees'].str.replace(',','').astype(int)

  total = data['Number of Employees'][0]
  data['Percent'] = (data['Number of Employees'] / total)*100

  data['Percent'] = np.round(data['Percent'], 2)

  data.set_index('NAICS Code', inplace=True)

  data.sort_values(by='Percent', ascending=False, inplace=True)

  data['Number of Employees'] = data.apply(adjust_format_noe, axis=1)

  data['Percent'] = data['Percent'].astype(str)+'%'
  return data

In [121]:
df = clean_pl(df)
df_3d = clean_pl(df_3d)

In [125]:
pd.set_option('display.max_colwidth', None)

In [126]:
df

,Industry,Number of Employees,Percent
NAICS Code,,,
00,Total for all sectors,"720,508",100.0%
54,"Professional, scientific, and technical services","134,173",18.62%
51,Information,"87,285",12.11%
72,Accommodation and food services,"86,099",11.95%
62,Health care and social assistance,"74,186",10.3%
52,Finance and insurance,"64,272",8.92%
44-45,Retail trade,"49,806",6.91%
56,Administrative and support and waste management and remediation services,"41,224",5.72%
55,Management of companies and enterprises,"28,879",4.01%
81,Other services (except public administration),"28,762",3.99%
61,Educational services,"25,031",3.47%
23,Construction,"24,359",3.38%
53,Real estate and rental and leasing,"19,119",2.65%
71,"Arts, entertainment, and recreation","17,352",2.41%
42,Wholesale trade,"16,330",2.27%
48-49,Transportation and warehousing,"11,570",1.61%
31-33,Manufacturing,"7,735",1.07%
22,Utilities,"4,123",0.57%
99,Industries not classified,156,0.02%
11,"Agriculture, forestry, fishing and hunting",36,0.0%
21,"Mining, quarrying, and oil and gas extraction",11,0.0%

In [127]:
df_3d.iloc[:16]

,Industry,Number of Employees,Percent
NAICS Code,,,
___,Total,"7,723",100.0%
311,Food manufacturing,"2,052",26.57%
334,Computer and electronic product manufacturing,"1,231",15.94%
312,Beverage and tobacco product manufacturing,813,10.53%
323,Printing and related support activities,724,9.37%
315,Apparel manufacturing,483,6.25%
339,Miscellaneous manufacturing,426,5.52%
327,Nonmetallic mineral product manufacturing,318,4.12%
337,Furniture and related product manufacturing,308,3.99%
332,Fabricated metal product manufacturing,274,3.55%
325,Chemical manufacturing,223,2.89%
333,Machinery manufacturing,202,2.62%
335,"Electrical equipment, appliance, and component manufacturing",179,2.32%
321,Wood product manufacturing,131,1.7%
336,Transportation equipment manufacturing,120,1.55%
314,Textile product mills,91,1.18%